body, html {
    height: 100%;
}

.koito97bgrimg {
    background-image: url('img/Yozora-2.jpg');
    min-height: 100%;
    background-position: center;
    background-size: cover;
}

a {
    text-decoration: none;
}

a:hover {
    color: tomato;
}